<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title><%= title %></title>
	<%-partial('styles')%>
</head>
<body>
	<%-partial('menu')%>
	<div class="main-content">
		<%-body -%>
	</div>
	<%-partial('footer')%>
	<%-partial('scripts')%>
</body>
</html>